

.background {
    background: url("/assets/hero2.jpg");
    /* background-repeat: repeat; */
    background-position: center;
    background-size: cover;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }


  .send {
    background: #E14640;
    display: block;
    align-items: center;
    color: white;
    border-radius: 5px;
   padding: 16px 30px;
    cursor: pointer;
    border: 0;
    margin: 0 auto;

  }
  
  
  .content {
    width: 80%;
    max-width: 600px;
  }
  
  .burden_info {
    margin-bottom: 20px;
    
  }
  
  .header__action {
    margin-bottom: 20px;
  }
  
  .header__action input[type="text"],
  .header__action input[type="email"] {
    width: 100%;
   
    margin-top: 5px;
  }
  
  .send-response-checkbox {
    display: flex;
    align-items: center;
  }
  
  .send-response-checkbox input[type="checkbox"] {
    margin-right: 10px;
  }
  
 
  